
<%= form_for :order, :url => populate_orders_path, html: { class: 'add_to_cart_products__form' } do |f| %>
        <%= hidden_field_tag "variant_id", product.master.id %>
        <%= hidden_field_tag :back, true %>

            <div class="add-to-cart addToCartSide justify-content-center d-flex">
              <div class="addToCartInputOutside">

                <%= number_field_tag :quantity, 1, class: 'addToCartInput', min: 1, step: 1 %>
                  </div>


                <span class="input-group-btn">
                  <%= button_tag :class => 'addToCart add_to_cart_products__button', :type => :submit do %>
                    <i class="fa fa-shopping-cart"></i>
                  <% end %>
                </span>
              </div>


      <% end %>
      <script>
          $(function() {
              $('.add_to_cart_products__form').addToCartAjaxForm();
          });
      </script>

